{{#each this}}
  <li class='filmCard' data-id='{{id}}'>
    <img
     class='filmCard__image'
      {{#if poster_path}}
      src='https://image.tmdb.org/t/p/w500{{poster_path}}'
      loading="lazy"
      alt='movie {{original_title}}'
      {{else}}
    src='https://raw.githubusercontent.com/NaThaleia/Film_collection/main/src/images/film-card.jpg'
      alt='film'
      {{/if}}
      width='274'
      height='398'
    />
    <div class='filmCard__description'>
      <p class='filmCard__title' title='{{original_title}}'>{{original_title}}</p>
      <div class='filmCard__details'>
         {{#if genre_ids}}
        <p class='filmCard__сategory'>{{genre_ids}} {{else}}<p class='filmCard__сategory'>No data {{/if}}|{{#if release_date}} <span>{{release_date}}</span> </p>{{else}} <span>No data</span> </p>{{/if}}
        <p class='filmCard__rating'>{{vote_average}}</p>
      </div>
    </div>
  </li>
{{/each}}