<div class='modal-form'>
  {{#if poster_path}}
  <img src='https://image.tmdb.org/t/p/w500{{poster_path}}' alt='фильм' class='modal-foto-film' />
  {{else}}
  <img src='https://raw.githubusercontent.com/NaThaleia/Film_collection/main/src/images/film-card.jpg' alt='фильм' class='modal-foto-film' />
  {{/if}}
  <div class='modal-info-film'>
    <h3 class='modal-title'>{{original_title}}</h3>
    <table class='modal-table'>
      <tr>
        <td class='modal-left'>Vote / Votes</td>
        <td class='modal-right'><span class='modal-vote'>{{vote_average}}</span> / {{vote_count}}</td>
      </tr>
      <tr>
        <td class='modal-left'>Popularity</td>
        <td class='modal-right'>{{popularity}}</td>
      </tr>
      <tr>
        <td class='modal-left'>Original Title</td>
        <td class='modal-right modal-right-title'>{{original_title}}</td>
      </tr>
      <tr>
        <td class='modal-left'>Genre</td>
        <td class='modal-right'>{{genre_ids}}</td>
      </tr>
    </table>
    <p class='modal-about'>About</p>
    <p class='modal-text'>{{overview}}</p>
    <div class='modal-btns'>
      <button class='modal-btn modal-watched'>add to watched</button>
      <button class='modal-btn modal-queue'>add to queue</button>
    </div>
  </div>
  <button type='button' class='modal-close'>
    <i class='fas fa-times'></i>
  </button>
</div>